# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Build Output
# ==========================
dist/
build/

# ==========================
# Flutter
# ==========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/
!.vscode/extensions.json
.idea/

# ==========================
# Flutter
# ==========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages