# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Build Output
# ==========================
dist/
build/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/
.idea/